.forgot-left-panel {
  background-image: url(https://img.freepik.com/free-vector/abstract-blue-light-pipe-speed-zoom-black-background-technology_1142-9980.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  color: #fff;
}

.forgot-right-panel {
  background-color: #fff;
  width: 50%;
}

.btn-orange {
  background-color: #000000;
  border: none;
}

.btn-orange:hover {
  background-color: #e6a900;
}

.text-orange {
  color: #ff6a00;
}

@media (max-width: 768px) {
  .d-flex.vh-100 {
    flex-direction: column-reverse !important;
    height: auto;
  }

  .forgot-left-panel,
  .forgot-right-panel {
    width: 100%;
  }

  .forgot-left-panel {
    height: 50vh;
    padding: 2rem;
    text-align: center;
  }

  .forgot-right-panel {
    height: 50vh;
    padding: 2rem;
  }

  .illustration img {
    max-height: 120px;
  }

  .form-control {
    width: 100% !important;
  }

  .btn-orange {
    width: 100%;
  }
}
